@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';
@tailwind screens;

html {
  @apply bg-gray-100 border-t-4 border-orange-400
}

html,
body,
#__nuxt,
#__layout {
  @apply h-full
}

body {
  min-height: 100%;
}

.page-title {
  @apply font-display text-4xl
}


.primary {
  @apply text-teal-400 fill-current;
}
.secondary {
  @apply text-teal-900 fill-current;
}


.button {
  @apply bg-black text-white shadow rounded px-4 py-2 uppercase tracking-wide font-bold text-sm
}

.button:hover,
.button:active,
.button:focus {
  @apply bg-gray-900
}


.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
